@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap');

body{
  font-family: 'M PLUS 1 Code', sans-serif;;
  background-color: hsl(323 21% 16%);
  color: rgb(255, 255, 255);
  /* display: grid;
  place-items: center; */
  text-align: center;
  min-height: 100vh;
}

.super-cool-button{
  font-size: 4rem;
  font-weight: 900;
  color: hsl(317 100% 54%);
  display: inline-block;
  cursor: pointer;
  border: hsl(317 100% 54%) 0.125em solid;
  text-decoration: none;
  padding: 0.25em 1em;
  border-radius: 0.4em;

  text-shadow: 0 0 0.125em hsl(0 0% 100%/ 0.3), 0 0 0.25em currentColor;

  background-color: rgb(235, 81, 191);
  /* border */
  box-shadow: inset 0 0 0.7em 0 currentColor, 0 0 0.7em 0 currentColor;

  position: relative;
  font-family: 'M PLUS 1 Code', sans-serif;
  transition: background-color 500ms linear;
  color: white;
}

.super-cool-button::before{
  content: '';
  pointer-events: none;
  position: absolute;
  background-color: hsl(317 100% 54%);
  top: 120%;
  left: 0%;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1.5em);
  opacity: 0.5;
  color: white;
  transition: opacity 500ms linear;
}

.super-cool-button:hover{
  background-color: hsl(317 100% 54%);
  color: rgb(255, 255, 255);
  text-shadow: none;
}

.super-cool-button::after{
  color: white;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 1em 0.5em hsl(317 100% 54%);
  opacity: 0;
  transition: opacity 500ms linear;
}

.super-cool-button:hover::after{
  opacity: 1;
}

.super-cool-button:hover::before{
  opacity: 1;
}
body{
  font-family: 'M PLUS 1 Code', sans-serif;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: hidden; 
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.Header{
  margin-bottom: 8%;
  margin-top: 5%;
}

